body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #263238;
}


/* NAVBAR */

.navbar {
  background-color: #542b72;
  padding: 15px 0;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}

.nav-link {
  color: white !important;
  margin-left: 15px;
}

.nav-link:hover {
  color: #71d9c3 !important;
}


/* HERO */

.hero {
  padding: 90px 0;
  background-color: #eefaf7;
}

.hero h1 {
  font-size: 46px;
  color: #542b72;
  font-weight: bold;
}

.hero p {
  font-size: 18px;
  line-height: 1.7;
  margin: 20px 0;
}

.hero img {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
}


/* BUTTON */

.btn-main {
  background-color: #542b72;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
}

.btn-main:hover {
  background-color: #3d1f52;
  color: white;
}


/* ABOUT */

.about {
  padding: 65px 0;
  text-align: center;
}

.about h2,
.blood-groups h2,
.contact h2,
.donate h2 {
  color: #542b72;
  margin-bottom: 20px;
}

.about p {
  max-width: 750px;
  margin: auto;
  line-height: 1.8;
}


/* BLOOD TYPES */

.blood-groups {
  padding: 65px 0;
  background-color: #eefaf7;
  text-align: center;
}

.blood-card {
  background-color: white;
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blood-card h3 {
  color: #542b72;
  font-size: 35px;
}


/* DONATE */

.donate {
  padding: 65px 0;
}

.donate img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.donate p {
  line-height: 1.8;
}


/* CONTACT */

.contact {
  padding: 65px 0;
  background-color: #eefaf7;
  text-align: center;
}

.contact p {
  margin: 8px;
}


/* FOOTER */

footer {
  background-color: #542b72;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
}

.footer-links a:hover {
  color: #71d9c3;
}

